@font-face {
  font-family: "XoloniumBold";
  src: url(../fonts/Xolonium-Regular.otf);
}

@font-face {
  font-family: "Xolonium";
  src: url(../fonts/Xolonium-Bold.otf);
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Gotham Pro", sans-serif;
  background: #EBEBEB;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-decoration: none;
  line-height: 1.2;
}

ul,
ol {
  margin: 0;
}

button:focus,
textarea:focus,
select:focus {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none;
}

input:focus {
  outline: none !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

a:active,
a:focus {
  outline: 0;
  outline: none !important;
  border: none;
  -moz-outline-style: none;
}

a {
  display: inline-block;
}

.wrapper {
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

/* call us */
.call-us {
  position: fixed;
  top: 650px;
  right: 104px;
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.catalog-cal {
  position: fixed;
  top: 550px;
  right: 240px;
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.call-number {
  cursor: pointer;
  background: #027BD6;
  border-radius: 100px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  transition: 0.3s;
}

.call-number:hover {
  transform: scale(1.2);
}

.call-sms {
  cursor: pointer;
  background: #027BD6;
  border-radius: 100px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  transition: 0.3s;
}

.call-sms:hover {
  transform: scale(1.2);
}

/* call us */

/* adaptation all */
.adaptation {
  font-family: "XoloniumBold";
  margin: 120px 0 40px 0;
  font-weight: 400;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #001F36;
}

/* adaptation all */

/* Header seris start */
#header {
  background: #001F36;
  padding: 20px 0 20px 0;
}

.header-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-items {
  display: flex;
  gap: 40px;
}

.header-item a {
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  padding: 0;
  color: #FFFFFF;
}

.header-log {
  cursor: pointer;
}

.header-log__info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-info__email {
  display: flex;
  flex-direction: column;
}

.header-numer {
  font-family: 'XoloniumBold';
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header-email {
  font-family: 'XoloniumBold';
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header-social-medya {
  display: flex;
  gap: 10px;
}

.header-social-medya a {
  transition: 0.2s;
}

.header-social-medya a:hover {
  transform: scale(1.1);
}

.social-medya__vr {
  background: #027BD6;
  border-radius: 2px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.social-medya__tg {
  background: #27A6E5;
  border-radius: 2px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.social-medya__ins {
  background: radial-gradient(230.93% 230.93% at 102.01% 2.03%, #F9ED32 0%, #EE2A7B 36%, #D22A8A 44%, #8B2AB2 60%, #1B2AF0 83%, #002AFF 88%);
  border-radius: 2px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.header-bars img {
  width: 40px;
  display: none;
}

.header-close img {
  display: none;
}

/* Header seris end */

/* Preform seris start */
.preform-wrap {
  background-image: url(../images/preform-img.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.preform-fluid__title {
  margin: 454px 0 88px 0;
}

.preform-fluid__title h1 span {
  font-family: 'XoloniumBold';
  font-weight: 700;
  font-size: 90px;
  line-height: 130%;
  text-transform: uppercase;
  color: #027BD6;
  letter-spacing: 5px;
}

.preform-fluid__title h1 {
  font-family: 'XoloniumBold';
  font-weight: 700;
  font-size: 90px;
  line-height: 130%;
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 2px;
}

.preform-fluid__title h2 {
  font-family: 'XoloniumBold';
  font-weight: 400;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 791px;
  margin-top: 69px;
}

/* Preform seris end */

/* Company seris start */
.company-border {
  border: 2px solid #027BD6;
}

.company-border:last-child {
  border-left: none;
}

.company-info {
  padding: 30px;
}

.company-info h3 {
  font-family: 'XoloniumBold';
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: #001F36;
  width: 515px;
  letter-spacing: 1px;
}

.company-info span {
  font-family: 'XoloniumBold';
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #027BD6;
}

/* Company seris end */

/* Product seris start  */
.product-wrap {
  padding: 40px 20px;
  background: #FFFFFF;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 40px;
}

.product-wrap__title h3 {
  font-family: 'XoloniumBold';
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  color: #001F36;

}

.product-wrap__cost h5 {
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  list-style-position: outside;
  padding: 0;
  color: #001F36;
}

.product-wrap__btn button {
  border: 1px solid #027BD6;
  border-radius: 4px;
  padding: 17px 50px;
  background: #FFFFFF;
  font-family: 'XoloniumBold';
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: #001F36;
  transition: 0.6s;
}

.product-wrap__btn button:hover {
  background: #002E51;
  border: none;
  color: #FFF;
}

.product-btn__bik button {
  width: 750px;
  height: 55px;
  border: 1px solid #027BD6;
  border-radius: 4px;
  background: #FFFFFF;
  font-family: 'XoloniumBold';
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: #001F36;
  transition: 0.6s;
  margin-top: 10px;
}

.product-btn__bik button:hover {
  background: #002E51;
  border: none;
  color: #FFF;
}

.product-cards__info {
  text-align: end;
  margin-top: 20px;
}

.product-cards__info h4 {
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
}

.product-catalog__transition button {
  font-family: 'XoloniumBold';
  width: 1200px;
  height: 45px;
  background: #027BD6;
  border-radius: 4px;
  margin-top: 60px;
  border: none;
  color: #fff;
  transition: 0.5s;
}

.product-catalog__transition button:hover {
  background: #002E51;
  border: none;
  color: #FFF;
}

/* Product seris end  */

/* questionnaire-us seris start */
#questionnaire-us {
  margin-top: 250px;
  background: #FFFFFF;
}

.questionnaire-fluid__title h2 {
  font-family: 'XoloniumBold';
  font-weight: 400;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #001F36;
  margin: 40px 0 20px 0;
}

.questionnaire-fluid__title h4 {
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: #001F36;
  text-align: center;
  margin-bottom: 70px;
}

.questionnaire-lavel__name input {
  width: 380px;
  height: 50px;
  background: #FFFFFF;
  border: 2px solid #027BD6;
  border-radius: 4px;
  padding-left: 20px;
}

.questionnaire-lavel__cal input {
  width: 380px;
  height: 50px;
  background: #FFFFFF;
  border: 2px solid #027BD6;
  border-radius: 4px;
  padding-left: 20px;
}

.questionnaire-lavel__email input {
  width: 380px;
  height: 50px;
  background: #FFFFFF;
  border: 2px solid #027BD6;
  border-radius: 4px;
  padding-left: 20px;
}

.questionnaire-fluid__btn button {
  width: 1200px;
  height: 45px;
  background: #027BD6;
  color: #fff;
  border: none;
  font-family: 'XoloniumBold';
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  margin-top: 50px;
  transition: 0.3s;
}

.questionnaire-fluid__btn button:hover {
  background: #002E51;
  border: none;
  color: #FFF;
}

.questionnaire-consent h4 {
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: #728DA1;
  text-align: center;
  margin: 30px 0 24px 0;
}

/* questionnaire-us seris end */

/* Videos seris start */
.videos-fluid__title h2 {
  margin: 120px 0 41px 0;
  font-family: 'XoloniumBold';
  font-weight: 400;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #001F36;
}

.videos-fluid__play {
  position: relative;
}

.videos-fluid__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 51px;
  background: #FFFFFF;
  border: 1px solid #027BD6;
  border-radius: 50%;
  transition: 0.3s;
  transform-origin: center center;
}

.videos-fluid__icon:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

/* Videos seris end */

/* Contact seris start */
.contact-fluid__title h2 {
  margin: 120px 0 40px 0;
}

.contact-fluid__map {
  position: relative;
  border: 2px solid #027BD6;
  width: 1200px;
  height: 630px;
  overflow: hidden;
}

.contact-office-info {
  position: absolute;
  top: 0;
  width: 380px;
  background: #FFFFFF;
  border-right: 2px solid #027BD6;
  border-bottom: 2px solid #027BD6;
  border-radius: 4px 0px;
  padding: 40px 12px;
}

.contact-office-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
}

.contact-office__title h3 {
  font-family: 'XoloniumBold';
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: #001F36;
}

.contact-office__novosibirsk h4 {
  font-family: 'Xolonium';
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: #001F36;
  max-width: 330px;
  margin: 0 auto;
}

.contact-office__cal h4 {
  font-family: 'Xolonium';
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: #001F36;
  text-align: right;
  max-width: 310px;
}

.contact-office__email h4 {
  font-family: 'Xolonium';
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: #001F36;
}

.contact-fluid__loc {
  position: absolute;
  top: 30%;
  right: 10%;
}

.production-fluid__map {
  position: relative;
  border: 2px solid #027BD6;
  width: 1200px;
  height: 630px;
  overflow: hidden;
}

.production-office-info {
  position: absolute;
  top: 0;
  width: 380px;
  background: #FFFFFF;
  border-right: 2px solid #027BD6;
  border-bottom: 2px solid #027BD6;
  border-radius: 4px 0px;
  padding: 40px 12px;
}

.production-office-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
}

.production-office__title h3 {
  font-family: 'XoloniumBold';
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: #001F36;
}

.production-office__novosibirsk h4 {
  font-family: 'Xolonium';
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: #001F36;
  max-width: 330px;
  transform: translateX(10px);
}

.production-office__cal h4 {
  font-family: 'Xolonium';
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: #001F36;
  text-align: right;
  max-width: 310px;
}

.production-office__email h4 {
  font-family: 'Xolonium';
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: #001F36;
}

.production-fluid__loc {
  position: absolute;
  top: 40%;
  right: 30%;
}

/* Contact seris end */


/* Footer seris start */
#footer {
  background: #001F36;
  margin-top: 120px;
}

.footer-fluid__top {
  display: flex;
  align-items: center;
}

.footer-items {
  display: flex;
  gap: 30px;
}

.footer-item a {
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
}

.ft-adaptation-title {
  font-family: 'Xolonium';
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 50px 0 30px 0;
}

.ft-adaptation-text {
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
}

.footer-info__text {
  width: 250px;
}

.footer-address__text {
  width: 270px;
}

.footer-fluid__numbers {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 30px;
}

.footer-fluid__numbers a {
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
}

.footer-social-medya a {
  transition: 0.2s;
}

.footer-social-medya a:hover {
  transform: scale(1.1);
}

.footer-sibpreforma__text {
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  color: #728DA1;
  text-align: center;
  padding: 60px 0 40px 0;
}

/* Footer seris end */









/* !! Catalog html start */

/* Catalog seris start */

.catalog-button {
  width: 285px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background: #FFFFFF;
  border: 1px solid #027BD6;
  border-radius: 0px;
  text-align: start;
  font-family: 'XoloniumBold';
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: #027BD6;
  padding: 18px;
}

.nav-pills .nav-link,
.nav-pills .show>.nav-link {
  background: #FFFFFF;
  border: 1px solid #027BD6;
  border-radius: 0px;
  text-align: start;
  font-family: 'XoloniumBold';
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: #000000;
  padding: 18px;
}

.catalog-img__flashlight {
  display: flex;
  margin: 0 auto;
}

.catalog-img__shutter {
  display: flex;
  margin: 0 auto;
}

.catalog-img__cover {
  padding: 12px 0 12px 0;
}

.catalog-products {
  padding: 20px;
  background: #FFFFFF;
  border-radius: 4px;
  width: 285px;
}

.catalog-product__img {
  padding: 20px 0 20px 0;
  margin-bottom: 20px;
}

.catalog-product__title {
  font-family: 'Exo 2';
  font-weight: 600;
  font-size: 18px;
  line-height: 110%;
  color: #001F36;
  width: 249px;
  margin-bottom: 20px;
}

.catalog-product__min {
  font-family: 'Exo 2';
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  color: #001F36;
  margin-bottom: 20px;
}

.catalog-product__info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.catalog-product__info p {
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 14px;
  line-height: 110%;
  color: #001F36;
  width: 249px;
}

.catalog-product__info span {
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 14px;
  line-height: 110%;
  font-weight: 400;
}

.catalog-product__moch p {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  color: #001F36;
  padding: 20px 0 20px 0;
}

.catalog-btn {
  width: 249px;
  height: 45px;
  background: #027BD6;
  border-radius: 4px;
  font-family: 'Xolonium';
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  transition: 0.3s;
}

.catalog-btn:hover {
  background: #002E51;
  border: none;
  color: #FFF;
}

.catalog-product__prices p {
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 12px;
  line-height: 110%;
  color: #001F36;
  width: 230px;
  margin-top: 10px;
}

.catalog-wrap {
  padding: 40px 20px;
  background: #FFFFFF;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 40px;
}

.catalog-wrap__title h3 {
  font-family: 'XoloniumBold';
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  color: #001F36;

}

.catalog-wrap__cost h5 {
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  list-style-position: outside;
  padding: 0;
  color: #001F36;
}

.catalog-wrap__btn button {
  border: 1px solid #027BD6;
  border-radius: 4px;
  padding: 17px 50px;
  background: #FFFFFF;
  font-family: 'XoloniumBold';
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: #001F36;
  transition: 0.6s;
}

.catalog-wrap__btn button:hover {
  background: #002E51;
  border: none;
  color: #FFF;
}

.catalog-btn__bik button {
  width: 750px;
  height: 55px;
  border: 1px solid #027BD6;
  border-radius: 4px;
  background: #FFFFFF;
  font-family: 'XoloniumBold';
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: #001F36;
  transition: 0.6s;
  margin-top: 10px;
}

.catalog-btn__bik button:hover {
  background: #002E51;
  border: none;
  color: #FFF;
}

/* Catalog seris end */

/* !! Catalog html start */
/* Reform seris start  */
.reform-fluid {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reform-icon__x {
  cursor: pointer;
  position: absolute;
  top: 6%;
  right: 4%;
  border: none;
}

.reform-icon__x button {
  border: none;
}

.reform-fluid__wag {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  color: #001F36;
  margin: 40px 0 50px 0;
}

.reform-fluid__name {
  font-family: 'XoloniumBold';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #001F36;

}

.reform-fluid__info {
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: #001F36;
  text-align: center;
  margin: 20px 0 60px 0;
}

.reform-input {
  width: 25px;
  height: 25px;
}

.reform-card {
  padding: 30px 20px;
  width: 270px;
  height: 390px;
  background: #FFFFFF;
  border-radius: 4px;
  margin-right: 10px;
}

.reform-row__cards {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.reform-img__title h4 {
  font-family: 'Xolonium';
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: #001F36;
}

.reform-button {
  font-family: 'XoloniumBold';
  display: flex;
  justify-content: center;
  align-items: center;
}

.reform-button button {
  width: 1110px;
  height: 45px;
  border: none;
  background: #027BD6;
  border-radius: 4px;
  color: #fff;
  margin-left: -11px;
  margin-top: 44px;
  transition: 0.3s;
}

.reform-button button:hover {
  background: #002E51;
  border: none;
  color: #FFF;
}

/* Reform seris end  */

/* Prices seris start */
.prices-fluid {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prices-icon__x {
  cursor: pointer;
  position: absolute;
  top: 6%;
  right: 4%;
  border: none;
}

.prices-icon__x button {
  border: none;
}

.prices-icon__left {
  cursor: pointer;
  position: absolute;
  top: 6%;
  left: 4%;
  border: none;
}

.prices-icon__left button {
  border: none;
}

.prices-card {
  padding: 40px 20px;
  width: 362px;
  height: 200px;
  background: #FFFFFF;
  border-radius: 4px;
  margin-right: 10px;
}

.prices-row__cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.prices-fluid__wag {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  color: #001F36;
  margin: 40px 0 50px 0;

}

.prices-fluid__name {
  font-family: 'XoloniumBold';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #001F36;

}

.prices-fluid__info {
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: #001F36;
  text-align: center;
  margin: 20px 0 60px 0;
}

.prices-title {
  font-family: 'XoloniumBold';
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: #001F36;
}

.prices-moch {
  font-family: 'XoloniumBold';
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: #027BD6;
  margin: 3px 0 3px 0;
}

.prices-input {
  width: 25px;
  height: 25px;
}

.prices-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prices-button button {
  font-family: 'XoloniumBold';
  width: 1110px;
  height: 45px;
  border: none;
  background: #027BD6;
  border-radius: 4px;
  color: #fff;
  margin: 178px 0 0 -11px;
  transition: 0.3s;
}

.prices-button button:hover {
  background: #002E51;
  border: none;
  color: #FFF;
}

/* Prices seris end */

/* Number entry seris start */

.entry-fluid {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.entry-icon__x {
  cursor: pointer;
  position: absolute;
  top: 6%;
  right: 4%;
  border: none;
}

.entry-icon__x button {
  border: none;
}

.entry-icon__left {
  cursor: pointer;
  position: absolute;
  top: 6%;
  left: 4%;
  border: none;
}

.entry-icon__left button {
  border: none;
}

.entry-fluid__wag {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  color: #001F36;
  margin: 40px 0 50px 0;

}

.entry-fluid__name {
  font-family: 'XoloniumBold';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #001F36;

}

.entry-fluid__info {
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: #001F36;
  text-align: center;
}

.entry-row__cards input {
  box-sizing: border-box;
  width: 500px;
  height: 50px;
  background: #FFFFFF;
  border: 2px solid #027BD6;
  border-radius: 4px;
  padding-left: 30px;
}

.entry-input {
  width: 25px;
  height: 25px;
}

.entry-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.entry-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 180px 0 250px 0;
}

.entry-button button {
  font-family: 'XoloniumBold';
  width: 1110px;
  height: 45px;
  border: none;
  background: #027BD6;
  border-radius: 4px;
  color: #fff;
  margin-left: -11px;
  transition: 0.3s;
}

.entry-button button:hover {
  background: #002E51;
  border: none;
  color: #FFF;
}

/* Number entry seris end */

/* Request seris tart */
.request-fluid {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.request-icon__x {
  cursor: pointer;
  position: absolute;
  top: 6%;
  right: 4%;
  border: none;
}

.request-icon__x button {
  border: none;
}

.request-fluid__name {
  font-family: 'XoloniumBold';
  font-weight: 400;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #001F36;
  margin-top: 105px;
}

.request-fluid__info {
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: #001F36;
  text-align: center;
  margin: 10px 0 140px 0;
}

.request-fluid__title img {
  margin-bottom: 200px;
}

/* Request seris end */

/* Apply seris start */
#apply {
  border: solid 1px red;
  width: 700px;
  text-align: center;
  margin: 0 auto;
}

.apply-fluid {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.apply-icon__x {
  cursor: pointer;
  position: absolute;
  top: 6%;
  right: 4%;
  border: none;
}

.apply-icon__x button {
  border: none;
}

.apply-fluid__name {
  font-family: 'XoloniumBold';
  font-weight: 400;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #001F36;
  margin: 100px 0 60px 0;
  width: 620px;
}

.apply-fluid__info {
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: #001F36;
  text-align: center;
  margin: 10px 0 140px 0;
}

.apply-card input {
  width: 620px;
  height: 50px;
  background: #FFFFFF;
  border: 2px solid #027BD6;
  border-radius: 4px;
  padding-left: 20px;
}

.apply-fluid__title img {
  margin-bottom: 200px;
}

.apply-button button {
  font-family: 'XoloniumBold';
  width: 620px;
  height: 45px;
  background: #027BD6;
  border-radius: 4px;
  border: none;
  color: #FFF;
  transition: 0.3s;
  margin: 100px 0 30px 0;
}

.apply-button button:hover {
  background: #002E51;
  border: none;
  color: #FFF;
}

.apply-info h4 {
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: #728DA1;
}

/* Appley seris end */

/* Free Call seris start */
#free {
  border: solid 1px red;
  width: 700px;
  text-align: center;
  margin: 0 auto;
}

.free-fluid {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.free-icon__x {
  cursor: pointer;
  position: absolute;
  top: 6%;
  right: 4%;
  border: none;
}

.free-icon__x button {
  border: none;
}

.free-fluid__name {
  font-family: 'XoloniumBold';
  font-weight: 400;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #001F36;
  margin: 100px 0 60px 0;
  width: 620px;
}

.free-fluid__info {
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: #001F36;
  text-align: center;
  margin: 10px 0 140px 0;
}

.free-card input {
  width: 620px;
  height: 50px;
  background: #FFFFFF;
  border: 2px solid #027BD6;
  border-radius: 4px;
  padding-left: 20px;
}

.free-fluid__title img {
  margin-bottom: 200px;
}

.free-button button {
  font-family: 'XoloniumBold';
  width: 620px;
  height: 45px;
  background: #027BD6;
  border-radius: 4px;
  border: none;
  color: #FFF;
  transition: 0.3s;
  margin: 200px 0 30px 0;
}

.free-button button:hover {
  background: #002E51;
  border: none;
  color: #FFF;
}

.free-info h4 {
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: #728DA1;
}

/* Free Call seris end */

/* write seris start */
#write {
  border: solid 1px red;
  width: 700px;
  text-align: center;
  margin: 0 auto;
}

.write-fluid {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.write-icon__x {
  cursor: pointer;
  position: absolute;
  top: 6%;
  right: 4%;
  border: none;
}

.write-icon__x button {
  border: none;
}

.write-fluid__name {
  font-family: 'XoloniumBold';
  font-weight: 400;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #001F36;
  margin: 100px 0 60px 0;
  width: 620px;
}

.write-fluid__info {
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: #001F36;
  text-align: center;
  margin: 10px 0 140px 0;
}

.write-card input {
  width: 620px;
  height: 50px;
  background: #FFFFFF;
  border: 2px solid #027BD6;
  border-radius: 4px;
  padding-left: 20px;
}

.write-card textarea {
  width: 620px;
  height: 120px;
  background: #FFFFFF;
  border: 2px solid #027BD6;
  border-radius: 4px;
  padding-left: 20px;
}

.write-fluid__title img {
  margin-bottom: 200px;
}

.write-button button {
  font-family: 'XoloniumBold';
  width: 620px;
  height: 45px;
  background: #027BD6;
  border-radius: 4px;
  border: none;
  color: #FFF;
  transition: 0.3s;
  margin: 95px 0 30px 0;
}

.write-button button:hover {
  background: #002E51;
  border: none;
  color: #FFF;
}

.write-info h4 {
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: #728DA1;
}

/* write seris end */

/* Appliction seris start */
#appliction {
  border: solid 1px red;
  width: 700px;
  text-align: center;
  margin: 0 auto;
}

.appliction-fluid {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.appliction-icon__x {
  cursor: pointer;
  position: absolute;
  top: 6%;
  right: 4%;
  border: none;
}

.appliction-icon__x button {
  border: none;
}

.appliction-fluid__name {
  font-family: 'XoloniumBold';
  font-weight: 400;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #001F36;
  margin-top: 100px;
  width: 620px;
}

.appliction-fluid__info {
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: #001F36;
  text-align: center;
  margin: 10px 0 120px 0;
}

.appliction-img {
  margin-bottom: 180px;
}

/* Appliction seris end */
/* !! Reform html end !! */


/* @@ Mediya @@ */

@media (max-width:1300px) {
  #header {
    padding: 0 10px;
  }

  #company {
    padding: 0 20px;
  }

  #footer {
    padding: 0 10px;
  }

  #questionnaire-us {
    padding: 0 10px;
  }

}

@media (max-width: 1200px) {
  #questionnaire-us {
    padding: 0 20px;
  }

  .product-btn__bik {
    padding-bottom: 54px;
  }

  .header-items {
    display: none;
  }

  .header-social-medya {
    display: none;
  }

  .header-info__email {
    display: none;
  }

  .header-bars img {
    display: block;
  }

  .preform-fluid__title h1 {
    font-size: 50px;
  }

  .preform-fluid__title h1 span {
    font-size: 50px;

  }

  .preform-fluid__title h2 {
    font-size: 30px;
  }

  #product {
    padding: 0 20px;
  }

  .product-picture {
    width: 550px;
  }

  .product-btn__bik button {
    width: 600px;
    height: 55px;
  }

  .flex-wrap {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
  }

  .questionnaire-fluid__btn {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .questionnaire-fluid__btn button {
    width: 750px;
  }

  #contact {
    padding: 0 20px;
  }


}

@media (max-width:1154px) {
  .product-btn__bik {
    padding-bottom: -54px;
  }

  .product-wrap {
    height: 530px;
  }
}

@media (max-width: 1199px) {
  .header-nav {
    display: block;
  }

  .header-items {
    margin: 0;
  }

  .header-items a {
    white-space: nowrap;
    margin-left: 38px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    color: #f7f6f5;
  }

  .company-info h3 {
    max-width: 425px;
  }

}

@media (max-width:992px) {
  .preform-fluid__title {
    margin-left: 10px;
  }

  .preform-fluid__title {
    width: 70%;
  }

  .company-border:last-child {
    border-left: solid 2px #027BD6;
    margin-top: 20px;
  }

  .ma-top {
    margin-top: 20px;
  }
}

@media (max-width:576px) {
  .preform-fluid__title h1 {
    font-size: 30px;
  }

  .preform-fluid__title h1 span {
    font-size: 30px;
  }

  .preform-fluid__title h2 {
    font-size: 20px;
  }

  .preform-fluid__title {
    width: 50%;
  }

  .call-us {
    margin-right: -70px;
  }

  .company-info h3 {
    font-size: 12px;
    max-width: 350px;
  }

  .product-picture {
    width: 300px;
  }

  .product-btn__bik button {
    width: 380px;

  }

}

@media(max-width:450px) {
  .company-info h3 {
    font-size: 10px;
    max-width: 250px;
  }

  .company-info {
    padding: 10px;
  }

  .product-picture {
    width: 200px;
  }

  .product-btn__bik button {
    width: 200px;
  }

  .flex-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lable-w input {
    width: 200px;
  }
}