@font-face {
  font-family: "XoloniumBold";
  src: url(../fonts/Xolonium-Regular.otf);
}

@font-face {
  font-family: "Xolonium";
  src: url(../fonts/Xolonium-Bold.otf);
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Gotham Pro", sans-serif;
  background: #EBEBEB;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-decoration: none;
  line-height: 1.2;
}

ul,
ol {
  margin: 0;
}

button:focus,
textarea:focus,
select:focus {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none;
}

input:focus {
  outline: none !important;
}

a:active,
a:focus {
  outline: 0;
  outline: none !important;
  border: none;
  -moz-outline-style: none;
}

a {
  display: inline-block;
}

.wrapper {
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

/* call us */
.call-us {
  position: fixed;
  top: 650px;
  right: 104px;
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.call-number {
  cursor: pointer;
  background: #027BD6;
  border-radius: 100px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  transition: 0.3s;
}

.call-number:hover {
  transform: scale(1.2);
}

.call-sms {
  cursor: pointer;
  background: #027BD6;
  border-radius: 100px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  transition: 0.3s;
}

.call-sms:hover {
  transform: scale(1.2);
}

/* call us */

/* adaptation all */
.adaptation {
  font-family: "XoloniumBold";
  margin: 120px 0 40px 0;
  font-weight: 400;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #001F36;
}

/* adaptation all */

/* Header seris start */
#header {
  background: #001F36;
  padding: 20px 0 20px 0;
}

.header-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-items {
  display: flex;
  gap: 40px;
}

.header-item a {
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  padding: 0;
  color: #FFFFFF;
}

.header-log {
  cursor: pointer;
}

.header-log__info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-info__email {
  display: flex;
  flex-direction: column;
}

.header-numer {
  font-family: 'XoloniumBold';
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header-email {
  font-family: 'XoloniumBold';
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header-social-medya {
  display: flex;
  gap: 10px;
}

.header-social-medya a {
  transition: 0.2s;
}

.header-social-medya a:hover {
  transform: scale(1.1);
}

.social-medya__vr {
  background: #027BD6;
  border-radius: 2px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.social-medya__tg {
  background: #27A6E5;
  border-radius: 2px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.social-medya__ins {
  background: radial-gradient(230.93% 230.93% at 102.01% 2.03%, #F9ED32 0%, #EE2A7B 36%, #D22A8A 44%, #8B2AB2 60%, #1B2AF0 83%, #002AFF 88%);
  border-radius: 2px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

/* Header seris end */

/* Preform seris start */
.preform-wrap {
  background-image: url(../images/preform-img.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.preform-fluid__title {
  margin: 454px 0 88px 0;
}

.preform-fluid__title h1 span {
  font-family: 'XoloniumBold';
  font-weight: 700;
  font-size: 90px;
  line-height: 130%;
  text-transform: uppercase;
  color: #027BD6;
  letter-spacing: 5px;
}

.preform-fluid__title h1 {
  font-family: 'XoloniumBold';
  font-weight: 700;
  font-size: 90px;
  line-height: 130%;
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 2px;
}

.preform-fluid__title h2 {
  font-family: 'XoloniumBold';
  font-weight: 400;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 791px;
  margin-top: 69px;
}

/* Preform seris end */

/* Company seris start */
.company-border {
  border: 2px solid #027BD6;
}

.company-border:last-child {
  border-left: none;
}

.company-info {
  padding: 30px;
}

.company-info h3 {
  font-family: 'XoloniumBold';
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: #001F36;
  width: 515px;
  letter-spacing: 1px;
}

.company-info span {
  font-family: 'XoloniumBold';
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #027BD6;
}

/* Company seris end */

/* Product seris start  */
.product-wrap {
  padding: 40px 20px;
  background: #FFFFFF;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 40px;
}

.product-wrap__title h3 {
  font-family: 'XoloniumBold';
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  color: #001F36;

}

.product-wrap__cost h5 {
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  list-style-position: outside;
  padding: 0;
  color: #001F36;
}

.product-wrap__btn button {
  border: 1px solid #027BD6;
  border-radius: 4px;
  padding: 17px 50px;
  background: #FFFFFF;
  font-family: 'XoloniumBold';
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: #001F36;
  transition: 0.6s;
}

.product-wrap__btn button:hover {
  background: #002E51;
  border: none;
  color: #FFF;
}

.product-btn__bik button {
  width: 750px;
  height: 55px;
  border: 1px solid #027BD6;
  border-radius: 4px;
  background: #FFFFFF;
  font-family: 'XoloniumBold';
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: #001F36;
  transition: 0.6s;
  margin-top: 10px;
}

.product-btn__bik button:hover {
  background: #002E51;
  border: none;
  color: #FFF;
}

.product-cards__info {
  text-align: end;
  margin-top: 20px;
}

.product-cards__info h4 {
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
}

.product-catalog__transition button {
  font-family: 'XoloniumBold';
  width: 1200px;
  height: 45px;
  background: #027BD6;
  border-radius: 4px;
  margin-top: 60px;
  border: none;
  color: #fff;
  transition: 0.5s;
}

.product-catalog__transition button:hover {
  background: #002E51;
  border: none;
  color: #FFF;
}

/* Product seris end  */

/* questionnaire-us seris start */
#questionnaire-us {
  margin-top: 250px;
  background: #FFFFFF;
}

.questionnaire-fluid__title h2 {
  font-family: 'XoloniumBold';
  font-weight: 400;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #001F36;
  margin: 40px 0 20px 0;
}

.questionnaire-fluid__title h4 {
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: #001F36;
  text-align: center;
  margin-bottom: 70px;
}

.questionnaire-lavel__name input {
  width: 380px;
  height: 50px;
  background: #FFFFFF;
  border: 2px solid #027BD6;
  border-radius: 4px;
  padding-left: 20px;
}

.questionnaire-lavel__cal input {
  width: 380px;
  height: 50px;
  background: #FFFFFF;
  border: 2px solid #027BD6;
  border-radius: 4px;
  padding-left: 20px;
}

.questionnaire-lavel__email input {
  width: 380px;
  height: 50px;
  background: #FFFFFF;
  border: 2px solid #027BD6;
  border-radius: 4px;
  padding-left: 20px;
}

.questionnaire-fluid__btn button {
  width: 1200px;
  height: 45px;
  background: #027BD6;
  color: #fff;
  border: none;
  font-family: 'XoloniumBold';
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  margin-top: 50px;
  transition: 0.3s;
}

.questionnaire-fluid__btn button:hover {
  background: #002E51;
  border: none;
  color: #FFF;
}

.questionnaire-consent h4 {
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: #728DA1;
  text-align: center;
  margin: 30px 0 24px 0;
}

/* questionnaire-us seris end */

/* Videos seris start */
.videos-fluid__title h2 {
  margin: 120px 0 41px 0;
  font-family: 'XoloniumBold';
  font-weight: 400;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #001F36;
}

.videos-fluid__play {
  position: relative;
}

.videos-fluid__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 51px;
  background: #FFFFFF;
  border: 1px solid #027BD6;
  border-radius: 50%;
  transition: 0.3s;
  transform-origin: center center;
}

.videos-fluid__icon:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

/* Videos seris end */

/* Contact seris start */
.contact-fluid__title h2 {
  margin: 120px 0 40px 0;
}

.contact-fluid__map {
  position: relative;
  border: 2px solid #027BD6;
  width: 1200px;
  height: 630px;
  overflow: hidden;
}

.contact-office-info {
  position: absolute;
  top: 0;
  width: 380px;
  background: #FFFFFF;
  border-right: 2px solid #027BD6;
  border-bottom: 2px solid #027BD6;
  border-radius: 4px 0px;
  padding: 40px 12px;
}

.contact-office-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
}

.contact-office__title h3 {
  font-family: 'XoloniumBold';
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: #001F36;
}

.contact-office__novosibirsk h4 {
  font-family: 'Xolonium';
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: #001F36;
  max-width: 330px;
  margin: 0 auto;
}

.contact-office__cal h4 {
  font-family: 'Xolonium';
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: #001F36;
  text-align: right;
  max-width: 310px;
}

.contact-office__email h4 {
  font-family: 'Xolonium';
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: #001F36;
}

.contact-fluid__loc {
  position: absolute;
  top: 30%;
  right: 10%;
}

.production-fluid__map {
  position: relative;
  border: 2px solid #027BD6;
  width: 1200px;
  height: 630px;
  overflow: hidden;
}

.production-office-info {
  position: absolute;
  top: 0;
  width: 380px;
  background: #FFFFFF;
  border-right: 2px solid #027BD6;
  border-bottom: 2px solid #027BD6;
  border-radius: 4px 0px;
  padding: 40px 12px;
}

.production-office-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
}

.production-office__title h3 {
  font-family: 'XoloniumBold';
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: #001F36;
}

.production-office__novosibirsk h4 {
  font-family: 'Xolonium';
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: #001F36;
  max-width: 330px;
  transform: translateX(10px);
}

.production-office__cal h4 {
  font-family: 'Xolonium';
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: #001F36;
  text-align: right;
  max-width: 310px;
}

.production-office__email h4 {
  font-family: 'Xolonium';
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: #001F36;
}

.production-fluid__loc {
  position: absolute;
  top: 40%;
  right: 30%;
}

/* Contact seris end */


/* Footer seris start */
#footer {
  background: #001F36;
  margin-top: 120px;
}

.footer-fluid__top {
  display: flex;
  align-items: center;
}

.footer-items {
  display: flex;
  gap: 30px;
}

.footer-item a {
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
}

.ft-adaptation-title {
  font-family: 'Xolonium';
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 50px 0 30px 0;
}

.ft-adaptation-text {
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
}

.footer-info__text {
  width: 250px;
}

.footer-address__text {
  width: 270px;
}

.footer-fluid__numbers {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 30px;
}

.footer-fluid__numbers a {
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
}

.footer-sibpreforma__text {
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  color: #728DA1;
  text-align: center;
  padding: 60px 0 40px 0;
}

/* Footer seris end */